<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_notifications_success">
        <observer name="magetop_email_customer_register" instance="Magetop\DeliveryTime\Observer\CustomerNotificationObserver"/>
    </event>
</config>
